div.selected
{
    cursor: auto;
}
div.unselected
{
    cursor: pointer;
}
div#event-list
{
}

h1, h2, h3, h4, h5, p
{
    font-size: 1em;
    font-weight: normal;
    color: black;
    display: block;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

body
{
    font-family: 'MetrophobicRegular' , Verdana, Arial, Sans-Serif;
}

h1, h2, h3
{
    font-family: 'RalewayThin' , verdana, sans-serif;
    text-transform: uppercase;
}

a, a:visited, a:hover
{
    text-decoration: none;
    color: Black;
}
p > a
{
    font-weight: bold;
}

div.event-box
{
    display: block;
    overflow: hidden;
    border-top: 2px solid black;
}

div.unselected
{
    height: 100%;
}

div.unselected > *
{
    display: none;
}

div.unselected h3
{
    font-size: 1.8em;
    display: block;
    text-align: center;
    font-family: 'RalewayThin' , Verdana, Arial, Sans-Serif;
}

div.selected
{
    height: 100%;
}

div.selected > *
{
    display: block;
}

div.selected > h3
{
    font-size: 1.3em;
}
body
{
    background-color: transparent;
    background-image: url('../../Content/Images/bg-repeat.png');
}

div#container
{
    position: relative;
    clear: both;
    width: 1060px;
    padding: 0px;
    margin: 0px auto 0;
    outline: none;
    display: block;
}

div#main
{
    background-color: White;
    margin: 0px 0 22px;
    width: 680px;
    float: right;
    outline: none;
    display: block;
    padding: 0px 30px 25px;
}

div#user
{
    background-color: White;
    width: 260px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 30px;
    position: fixed;
    outline: none;
    display: block;
    border-radius: 20px;
    padding: 50px 20px 25px 20px;
    text-align: center;
}

body
{
    margin: 0px;
}

h1.title
{
    font-family: 'OstrichSansMedium';
    font-size: 60px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, .2);
}
div.event-box
{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

::selection, ::-moz-selection, ::-webkit-selection
{
    background: #cc0000;
    color: White;
}

div.section
{
}

div.section > h1
{
    display: block;
    border-bottom: 1px solid black;
}

div.VoteUp, div.VoteDown
{
    background-color: White;
    float: right;
    display: none;
}

div.event-box p
{
    font-family: Georgia, Serif;
    font-style: italic;
    color: Gray;
}

div.event-box h5
{
    font-family: 'RalewayThin' , Sans-Serif;
    color: black;
}

div.event-box h3
{
    font-family: 'RalewayThin' , Sans-Serif;
    color: black;
    font-size: 2em;
    text-shadow: 0 1px rgba(0, 0, 0, .4);
}


table
{
    width: 100%;
    text-align: center;
    border: 0px;
    border-spacing: 0px;
}
td.menu
{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
    background-color: Black;
    color: White;
}
td.menu a
{
    color: White;
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}
td.menu:hover
{
    background-color: #C00;
}
