<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OmnipresenceEntities" connectionString="metadata=res://*/Core.Core.csdl|res://*/Core.Core.ssdl|res://*/Core.Core.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INGLIP\SQLEXPRESS;Initial Catalog=omnidev;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="OmnipresenceEntities" connectionString="metadata=res://*/Core.Core.csdl|res://*/Core.Core.ssdl|res://*/Core.Core.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMANUEL-LAPTOP\SQLEXPRESS;Initial Catalog=Omnipresence;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>