div 
{
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#map_container 
{
    background-color:White;
    display:block;
    clear:both;
    height:100%;
    min-width:468px;
    width:100%;
}
#map_canvas 
{
    width:70%;
    height:100%;
}
#sidebar-big
{
    
    width:30%;
    height:100%;
    background-color: White;
    font-family: Segoe UI , Calibri, Sans-Serif;
    position: absolute;
    top:0;
    right:0;
}

#sidebar
{
    font-family: Segoe UI , Calibri, Sans-Serif;
    width:100%;
}

span.header 
{
    font-size:1.6em;
    display:block;
}

span.header-2 
{
    font-size:1.4em;
    display:block;
}

span.content 
{
    display:block;
}

#map_container textarea
{
    font-family: Calibri, Sans-Serif;
}